@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Essays
    <br />
</address>

<address>
    <strong>Support:</strong>   <a>dnevnik1923@mail.ru</a>
    <br />
    <strong>Marketing:</strong> <a>qwesssss2@mail.ru</a>
</address>